*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

button
{
    background-color: rgb(95, 255, 95);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
}

.container
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.container.active
{
    display: flex;
}


.popup
{
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    position: relative;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


.container button
{
    background-color: white;
    color: black;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;

}

